<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>工作经历</title>
    <link rel="shortcut icon" href="__PUBLIC__/favicon.ico" mce_href="/favicon.ico" type="image/x-icon">
    <!-- EasyUI -->
    <link href="__PUBLIC__/easyui/themes/default/easyui.css" rel="stylesheet">
    <link href="__PUBLIC__/easyui/themes/icon.css" rel="stylesheet">
    <link href="__PUBLIC__/css/work.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

    <div id="content">

      <div id="tools">
        <a id="tools-add">添加</a>
        <!--<a id="tools-edit">编辑</a>
        <a id="tools-delete">删除</a>-->
        <a id="tools-reload">刷新</a>
      </div>

      <table id="data-box"></table>
    </div>

    <div id="add-box">
        <form id="add-form" method="post" enctype="multipart/form-data">
          <input id="add-job" name="add-job" /><br><br>
          <input id="add-unit" name="add-unit" /><br><br>
          <input id="add-department" name="add-department" /><br><br>
          <input id="add-section" name="add-section" /><br><br>
          
          <input id="add-into_date" name="add-into_date" /><br><br>
          <input id="add-exit_date" name="add-exit_date" /><br><br>

          <input id="add-file_name" name="add-file_name" ><br><br>
          <div id="#add-btn" style="width:300px">
            <a id="add-cancel">关闭</a>
            <a id="add-submit">提交</a>
          </div>
        </form>
      </div>

      <div id="edit-box">
        <form id="edit-form" method="POST" enctype="multipart/form-data">
          <input id="edit-id" name="edit-id" hidden="hidden" />
          <input id="edit-job" name="edit-job" /><br><br>
          <input id="edit-unit" name="edit-unit" /><br><br>
          <input id="edit-department" name="edit-department" /><br><br>
          <input id="edit-section" name="edit-section" /><br><br>
          
          <input id="edit-into_date" name="edit-into_date" /><br><br>
          <input id="edit-exit_date" name="edit-exit_date" /><br><br>
          <input id="edit-file_name" name="edit-file_name" ><br><br>
          <div id="#edit-btn" style="width:300px">
            <a id="edit-cancel">关闭</a>
            <a id="edit-submit">提交</a>
          </div>
        </form>
      </div>

    <script>
      var APP = "__APP__" ;
      var ROOT = "__ROOT__";
    </script>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="__PUBLIC__/js/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="__PUBLIC__/easyui/jquery.easyui.min.js"></script>
    <script src="__PUBLIC__/easyui/locale/easyui-lang-zh_CN.js"></script>
    <script src="__PUBLIC__/js/work.js"></script>
  </body>
</html>