body{min-width: 550px;min-height: 500px}
.css1{margin-left: 100px; margin-top: 50px}
.css2{margin-top: 20px}
.css3{width:300px; margin-left: 100px; margin-top: 30px}
.css4{width:100px;height:30px; margin-top: 20px}
#recode{cursor: pointer;width: 100px;height:30px;margin-right: 100px; float:right}
.pull-right{float: right;}
