<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>教学经历</title>
    <link rel="shortcut icon" href="__PUBLIC__/favicon.ico" mce_href="/favicon.ico" type="image/x-icon">
    <!-- EasyUI -->
    <link href="__PUBLIC__/easyui/themes/default/easyui.css" rel="stylesheet">
    <link href="__PUBLIC__/easyui/themes/icon.css" rel="stylesheet">
    <link href="__PUBLIC__/css/teaching.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

    <div id="content">

      <div id="tools">
        <a id="tools-add">添加</a>
        <!--<a id="tools-edit">编辑</a>
        <a id="tools-delete">删除</a>-->
        <a id="tools-reload">刷新</a>
      </div>
      <div id="search-box">
        <form id="search-form">
          <input id="search-lesson" name="search-lesson" placeholder="课程" />
          <input id="search-annual" />
          <input id="search-classes" />
          <a id="search-ok">查询</a>
          <a id="search-clear">清空</a>
        </form>
      </div>
      

      <table id="data-box"></table>
    </div>

    <div id="add-box">
        <form id="add-form" method="post">
          <input id="add-lesson" name="add-lesson" /><br><br>
          <input id="add-credit" name="add-credit" value="2" /><br><br>
          <input id="add-quality" name="add-quality" value="必修" /><br><br>
          <input id="add-num" name="add-num" /><br><br>
          <input id="add-annual" name="add-annual" /><br><br>
          <input id="add-term" name="add-term" /><br><br>
          <input id="add-classes" name="add-classes" /><br><br>
          <div id="#add-btn" style="width:300px">
            <a id="add-cancel">关闭</a>
            <a id="add-submit">提交</a>
          </div>
        </form>
      </div>

      <div id="edit-box">
        <form id="edit-form" method="POST">
          <input id="edit-id" name="edit-id" hidden="hidden" />
          <input id="edit-lesson" name="edit-lesson" /><br><br>
          <input id="edit-credit" name="edit-credit" /><br><br>
          <input id="edit-quality" name="edit-quality" /><br><br>
          <input id="edit-num" name="edit-num" /><br><br>
          <input id="edit-annual" name="edit-annual" /><br><br>
          <input id="edit-term" name="edit-term" /><br><br>
          <input id="edit-classes" name="edit-classes" /><br><br>
          <div id="#edit-btn" style="width:300px">
            <a id="edit-cancel">关闭</a>
            <a id="edit-submit">提交</a>
          </div>
        </form>
      </div>

    <script>
      var APP = "__APP__" ;
      var PUBLIC = "__PUBLIC__" ;
    </script>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="__PUBLIC__/js/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="__PUBLIC__/easyui/jquery.easyui.min.js"></script>
    <script src="__PUBLIC__/easyui/locale/easyui-lang-zh_CN.js"></script>
    <script src="__PUBLIC__/js/teaching.js"></script>
  </body>
</html>