<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>著作信息</title>
    <link rel="shortcut icon" href="__PUBLIC__/favicon.ico" mce_href="/favicon.ico" type="image/x-icon">
    <!-- EasyUI -->
    <link href="__PUBLIC__/easyui/themes/default/easyui.css" rel="stylesheet">
    <link href="__PUBLIC__/easyui/themes/icon.css" rel="stylesheet">
    <link href="__PUBLIC__/css/admin/book.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

    <div id="content">

      <div id="tools">
        <a id="download-select">导出选中</a>
        <a id="download-all">导出全部</a>
        <a id="download-file">下载附件</a>
        <a id="tools-reload">刷新</a>
      </div>
      <div id="search-box">
        <form id="search-form">
          <input id="search-title" />
          <input id="search-unit" />
          <a id="search-ok">查询</a>
          <a id="search-clear">清空</a>
        </form>
      </div>
      

      <table id="data-box"></table>
    </div>
      

      <div id="detail-box">
          <div id="add-tabs" class="easyui-tabs" data-options="width:500,height:360,tabHeight:30,justified:true">
            <div title="基本信息" data-options="closable:false">
              <div class="item">
                <span class="key">主&emsp;&emsp;题:</span>
                <span class="value" id="detail-title"></span>
              </div>
              <div class="item">
                <span class="key">责任作者:</span>
                <span class="value" id="detail-author"></span>
              </div>
              <div class="item">
                <span class="key">其它作者:</span>
                <span class="value" id="detail-other_author"></span>
              </div>
              <div class="item">
                <span class="key">出版刊物:</span>
                <span class="value" id="detail-publication"></span>
              </div>
              <div class="item">
                <span class="key">出版时间:</span>
                <span class="value" id="detail-publication_date"></span>
              </div>
              <div class="item">
                <span class="key">定&emsp;&emsp;价:</span>
                <span class="value" id="detail-price"></span>
              </div>
            </div>

            <div title="详细信息" data-options="closable:false">
              <div class="item">
                <span class="key">摘&emsp;&emsp;要:</span>
                <span class="value" id="detail-abstract"></span>
              </div>
              <div class="item">
                <span class="key">适用读者:</span>
                <span class="value" id="detail-aim_user"></span>
              </div>
              <div class="item">
                <span class="key">备&emsp;&emsp;注:</span>
                <span class="value" id="detail-note"></span>
              </div>
              <div class="item">
                <span class="key">附&emsp;&emsp;件:</span>
                <span class="value"><a href="javascript:;" id="detail-file_name">点击查看</a></span>
              </div>
            </div>
          </div>
      </div>

    <script>
      var APP = "__APP__" ;
      var ROOT = "__ROOT__" ;
      var PUBLIC = "__PUBLIC__" ;
    </script>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="__PUBLIC__/js/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="__PUBLIC__/easyui/jquery.easyui.min.js"></script>
    <script src="__PUBLIC__/easyui/locale/easyui-lang-zh_CN.js"></script>
    <script src="__PUBLIC__/js/admin/book.js"></script>
  </body>
</html>