.icon-edit:hover{cursor: pointer;}
#check-box{padding-top:20px; padding-left:70px}
#email-lab{margin-bottom:30px; font-size:20px; color:red; text-align: center; width:280px}
#check-cancel{float:right}