.datagrid td{height : 50px}
#add-form{margin-top:30px; margin-left: 65px}
#add-submit{float:right}
#edit-form{margin-top:30px; margin-left: 65px}
#edit-submit{float:right}
.pagination-info{line-height: 50px}
input[type="checkbox"]{vertical-align:middle;}
p{margin-top:8px; margin-bottom: 8px}
.app{clear:both}
.module{margin-left:20px;clear:both}
.sub{float:left; margin-top:0;margin-left:10px}
.sub-start{margin-left:40px}
#role-tools{text-align: center;margin-top:30px; clear:both}
p span{cursor: pointer}