<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>论文信息</title>

    <!-- EasyUI -->
    <link href="__PUBLIC__/easyui/themes/default/easyui.css" rel="stylesheet">
    <link href="__PUBLIC__/easyui/themes/icon.css" rel="stylesheet">
    <link href="__PUBLIC__/css/paper.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->cr
  </head>
  <body>

    <div id="content">

      <div id="tools">
        <a id="tools-detail">查看详情</a>
        <a id="tools-add">添加</a>
        <a id="tools-edit">编辑</a>
        <a id="tools-delete">删除</a>
        <a id="tools-import">批量导入</a>
        <a id="tools-export">批量导出</a>
        <a id="tools-reload">刷新</a>
      </div>
      <div id="search-box">
        <form id="search-form">
          <input id="search-topic" />
          <input id="search-author" />
          <input id="search-from" />
          <input id="search-to" />
          <a id="search-ok">查询</a>
          <a id="search-clear">清空</a>
        </form>
      </div>
      

      <table id="data-box"></table>
    </div>
      <div id="add-box">
        <form id="add-form" method="post" enctype="multipart/form-data">
          <div id="add-tabs" class="easyui-tabs" data-options="width:500,height:430,tabHeight:30,justified:true">
            <div title="基本信息" data-options="closable:false">
              <input id="add-topic" name="add-topic" /><br><br>
              <input id="add-abstract" name="add-abstract" /><br><br>
              <input id="add-keywords" name="add-keywords" /><br><br>
              <input id="add-is_translation" name="add-is_translation" /><br><br>
              <input id="add-publication" name="add-publication" /><br><br>
              <input id="add-publish_date" name="add-publish_date" /><br><br>
              <div id="tabs-nav" style="width:500;position: absolute;bottom:6px;left:6px;background:#f0f5ff">
                <a id="add-info-prev">上一栏</a>
                <a id="add-info-next" style="float:right">下一栏</a>
              </div>
            </div>
            
            <div title="作者信息" data-options="closable:false">
              <input id="add-first_author" name="add-first_author" /><br><br>
              <input id="add-first_author_type" name="add-first_author_type" /><br><br>
              <input id="add-correspondence_author" name="add-correspondence_author" /><br><br>
              <input id="add-other_author" name="add-other_author" /><br><br>
              <input id="add-all_author" name="add-all_author" /><br><br>
              <input id="add-enter_people" name="add-enter_people" /><br><br>
              <input id="add-unit" name="add-unit" /><br><br>
              <div id="tabs-nav" style="width:500;position: absolute;bottom:6px;left:6px;background:#f0f5ff">
                <a id="add-author-prev">上一栏</a>
                <a id="add-author-next" style="float:right">下一栏</a>
              </div>
            </div>

            <div title="论文分类" data-options="closable:false">
              <input id="add-paper_page" name="add-paper_page" /><br><br>
              <input id="add-paper_type" name="add-paper_type" /><br><br>
              <input id="add-prime_subject" name="add-prime_subject" /><br><br>
              <input id="add-science_category" name="add-science_category" /><br><br>
              <input id="add-project_source" name="add-project_source" /><br><br>
              <div id="tabs-nav" style="width:500;position: absolute;bottom:6px;left:6px;background:#f0f5ff">
                <a id="add-category-prev">上一栏</a>
                <a id="add-category-next" style="float:right">下一栏</a>
              </div>
            </div>

            <div title="论文收录" data-options="closable:false">
              <input id="add-data_source" name="add-data_source" /><br><br>
              <input id="add-index_type" name="add-index_type" /><br><br>
              <input id="add-sci_partition" name="add-sci_partition" /><br><br>
              <input id="add-final_index" name="add-final_index" /><br><br>
              <input id="add-index_year" name="add-index_year" /><br><br>
              <div id="tabs-nav" style="width:500;position: absolute;bottom:6px;left:6px;background:#f0f5ff">
                <a id="add-index-prev">上一栏</a>
                <a id="add-index-next" style="float:right">下一栏</a>
              </div>
            </div>

            <div title="附加信息" data-options="closable:false">
              <input id="add-audit_state" name="add-audit_state" /><br><br>
              <input id="add-audit_date" name="add-audit_date" /><br><br>
              <input id="add-audit_year" name="add-audit_year" /><br><br>
              <input id="add-score" name="add-score" /><br><br>
              <input id="add-note" name="add-note" /><br><br>
              <input id="add-file_name" name="add-file_name" /><br><br>
              <div style="width:400px;margin-left:10px">
                <a id="add-cancel">清空输入</a>
                <a id="add-submit" style="float:right">提交数据</a>
              </div>
              <div id="tabs-nav" style="width:500;position: absolute;bottom:6px;left:6px;background:#f0f5ff">
                <a id="add-note-prev">上一栏</a>
                <a id="add-note-next" style="float:right">下一栏</a>
              </div>
            </div>
          </div>
        </form>
      </div>

      <div id="edit-box">
        <form id="edit-form" method="post">
          <div id="edit-tabs" class="easyui-tabs" data-options="width:500,height:430,tabHeight:30,justified:true">
            <div title="基本信息" data-options="closable:false">
              <input id="edit-topic" name="edit-topic" /><br><br>
              <input id="edit-abstract" name="edit-abstract" /><br><br>
              <input id="edit-keywords" name="edit-keywords" /><br><br>
              <input id="edit-is_translation" name="edit-is_translation" /><br><br>
              <input id="edit-publication" name="edit-publicatioin" /><br><br>
              <input id="edit-publish_date" name="edit-publish_date" /><br><br>
              <div id="tabs-nav" style="width:500;position: absolute;bottom:6px;left:6px;background:#f0f5ff">
                <a id="edit-info-prev">上一栏</a>
                <a id="edit-info-next" style="float:right">下一栏</a>
              </div>
            </div>
            
            <div title="作者信息" data-options="closable:false">
              <input id="edit-first_author" name="edit-first_author" /><br><br>
              <input id="edit-first_author_type" name="edit-first_author_type" /><br><br>
              <input id="edit-correspondence_author" name="edit-correspondence_author" /><br><br>
              <input id="edit-other_author" name="edit-other_author" /><br><br>
              <input id="edit-all_author" name="edit-all_author" /><br><br>
              <input id="edit-enter_people" name="edit-enter_people" /><br><br>
              <input id="edit-unit" name="edit-unit" /><br><br>
              <div id="tabs-nav" style="width:500;position: absolute;bottom:6px;left:6px;background:#f0f5ff">
                <a id="edit-author-prev">上一栏</a>
                <a id="edit-author-next" style="float:right">下一栏</a>
              </div>
            </div>

            <div title="论文分类" data-options="closable:false">
              <input id="edit-paper_page" name="edit-paper_page" /><br><br>
              <input id="edit-paper_type" name="edit-paper_type" /><br><br>
              <input id="edit-prime_subject" name="edit-prime_subject" /><br><br>
              <input id="edit-science_category" name="edit-science_category" /><br><br>
              <input id="edit-project_source" name="edit-project_source" /><br><br>
              <div id="tabs-nav" style="width:500;position: absolute;bottom:6px;left:6px;background:#f0f5ff">
                <a id="edit-category-prev">上一栏</a>
                <a id="edit-category-next" style="float:right">下一栏</a>
              </div>
            </div>

            <div title="论文收录" data-options="closable:false">
              <input id="edit-data_source" name="edit-data_source" /><br><br>
              <input id="edit-index_type" name="edit-index_type" /><br><br>
              <input id="edit-sci_partition" name="edit-sci_partition" /><br><br>
              <input id="edit-final_index" name="edit-final_index" /><br><br>
              <input id="edit-index_year" name="edit-index_year" /><br><br>
              <div id="tabs-nav" style="width:500;position: absolute;bottom:6px;left:6px;background:#f0f5ff">
                <a id="edit-index-prev">上一栏</a>
                <a id="edit-index-next" style="float:right">下一栏</a>
              </div>
            </div>

            <div title="附加信息" data-options="closable:false">
              <input id="edit-audit_state" name="edit-audit_state" /><br><br>
              <input id="edit-audit_date" name="edit-audit_date" /><br><br>
              <input id="edit-audit_year" name="edit-audit_year" /><br><br>
              <input id="edit-score" name="edit-score" /><br><br>
              <input id="edit-note" name="edit-note" /><br><br>
              <input id="edit-file" name="add-file" /><br><br>
              <div style="width:400px;margin-left:10px">
                <a id="edit-cancel">清空输入</a>
                <a id="edit-submit" style="float:right">提交数据</a>
              </div>
              <div id="tabs-nav" style="width:500;position: absolute;bottom:6px;left:6px;background:#f0f5ff">
                <a id="edit-note-prev">上一栏</a>
                <a id="edit-note-next" style="float:right">下一栏</a>
              </div>
            </div>
          </div>
        </form>
      </div>

    <script>
      var APP = "__APP__" ;
      var PUBLIC = "__PUBLIC__" ;
      var UPLOADS = "__UPLOADS__" ;
    </script>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="__PUBLIC__/js/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="__PUBLIC__/easyui/jquery.easyui.min.js"></script>
    <script src="__PUBLIC__/easyui/locale/easyui-lang-zh_CN.js"></script>
    <script src="__PUBLIC__/js/paper.js"></script>
  </body>
</html>